# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual Environment
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env

# Static files collected
staticfiles/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp